.layoutContainer {
  width: 50vw;
  height: 50vh;
  min-width: 500px;
  min-height: 500px;
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
}

.background {
  position: absolute;
  top: 0px;
  width: 50vw;
  height: 50vh;
  min-width: 500px;
  min-height: 500px;
  z-index: 1;
}

.horizontalLines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.verticalLines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media only screen and (max-width: 600px) {
  .layoutContainer,
  .background {
    width: 90vw;
    height: 90vh;

    min-width: initial;
    min-height: initial;
  }
}
